.headerUl {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #f0f0f0;
  user-select: none;
  list-style-type: none;
  height: 60px;
}

.headerLi {
  margin-right: 60px;
  font-weight: bold;
  cursor: default;
  font-family: "Chilanka", cursive;
  cursor: pointer;
}

.hamburger-btn {
  margin-right: 60px;
  align-self: flex-start;
  display: none;
}

.fa-bars {
  font-size: 25px;
}

.activeLi {
  color: #f44e91;
  border-bottom: 2px solid #f44e91;
}

@media (max-width: 785px) {
  .hamburger-btn {
    display: block !important;
  }

  .hamburger-btn,
  .headerLi {
    margin-right: 40px !important;
  }
} ;
