.carousel {  
  height: 90%;
  max-width: 100%;
  height: 100%;
}

.inner {
  height: 90%;
  max-width: 100%;
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  height: 100%;
  max-width: 100%;
  /* display: inline-flex; */
  /* align-items: center;
  justify-content: center; */
  /* color: #fff; */
  /* border: 1px solid red; */
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}

.btn-previous {
  width: 80px;
}

.btn-next {
  width: 80px;
}
